# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/

# production
/build

# testing
/coverage

# env files
.env
.env.*
!.env.example

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# editors / IDEs
*.swp
*.swo
*~
.idea/
.vscode/
!.vscode/settings.json
!.vscode/extensions.json

# misc
*.pem
.vercel
